body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; /* Prevent horizontal scroll when sidebar is open */
    scroll-behavior: smooth; /* Enable smooth scrolling */
    min-height: 100vh; /* Ensure body takes full viewport height */
    display: flex;
    flex-direction: column;
    background: linear-gradient(270deg, #fca2d3, #f8b3c2, #d3bafc, #97a8f1);
    background-size: 800% 800%;
    animation: gradient 23s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.menu-toggle {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

#sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: transparent; /* Fully transparent background */
    transition: left 0.3s;
    padding-top: 60px;
    z-index: 1000;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: transparent; /* Fully transparent background */
}

#sidebar ul li {
    padding: 10px 15px;
    background-color: transparent; /* Fully transparent background */
}

#sidebar ul li a {
    color: black; /* Black text color */
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover {
    text-decoration: underline;
}

#sidebar.active {
    left: 0;
}

.banner-image {
    width: 35%; /* 65% smaller */
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    padding: 2rem;
    margin-top: 10px; /* Space between the image and the main content */
    flex: 1;
}

.content {
    text-align: center;
}

section {
    padding: 2rem;
    margin: 2rem 0;
}

.achievement-list {
    text-align: left; /* Left align the list */
}

footer {
    background-color: transparent; /* Fully transparent background */
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%; /* Full width */
    border-top: 1px solid white; /* Line above the footer */
    position: static; /* Static position */
}
